{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes - Cadastro</title>
    {% bootstrap_css %}
</head>
<body>
    <h2>Cadastro de Filmes</h2>
    <a href="{% url 'index' %}">INDEX</a>
    <div class="container">
        {% bootstrap_messages %}
        <form action="{% url 'cadastro' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            {% endbuttons %}

        </form>
    </div>
    {% bootstrap_javascript %}
</body>
</html>